/*-------------------------BODY-------------------------*/


*{
    margin: 0px;
    padding: 0px;
}


/*-------------------------main-------------------------*/

main{
    background-color: transparent;
    z-index: 4;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.semester-container{
    padding: 7px;
    border: 1px black solid;
    border-radius: 5px;
    /* border: 1px #5F1350 solid; */
    margin: 10px;
}

.subjects{
    margin: 7px;
}
 
.inner-semester-container{
    /* background-color: #5f1350; */
    background-color: goldenrod;
    /* background: linear-gradient(to bottom, rgba(95, 19, 80, 0.9) 0% , rgb(112, 44, 99, 0.9) 100%); */
    padding: 7px;
    border: 1px white solid;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    display: none;
}
